
<li class="nav-header">मास्टर सेटिङ</li>
<li class="nav-item">
    <a asp-action="Index" asp-controller="PrayogKarta" asp-area="FinanceSys" class="nav-link">
        <i class="nav-icon fas fa-user-alt"></i>
        <p>प्रयोगकर्ता व्यवस्थापन</p>
    </a>
</li>
<li class="nav-item">
    <a asp-action="Index" asp-controller="SahakariSuchi" asp-area="FinanceSys" class="nav-link">
        <i class="far fa-credit-card nav-icon"></i>
        <p>सहकारी सुची</p>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="far fa-building nav-icon"></i>
        <p>साधारण सभा</p>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon far fa-calendar"></i>
        <p>लेखापरीक्षण प्रतिवेदन</p>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon far fa-clone"></i>
        <p>मासिक प्रतिवेदन</p>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon far fa-registered"></i>
        <p>आवेदनहरू</p>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon far fa-star"></i>
        <p>टेम्पलेट व्यवस्थापन</p>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon far fa-star"></i>
        <p>सूचना</p>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon far fa-address-book"></i>
        <p>सहकारी रिपोर्ट</p>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon far fa-file"></i>
        <p>फाइल अपलोड प्रदर्शन</p>
    </a>
</li>
