
<li class="nav-header">व्यवस्थापकीय</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="far fa-sun nav-icon"></i>
        <p>पूंजी जानकारी</p>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="far fa-address-book nav-icon"></i>
        <p> सञ्चालक समिति</p>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="far fa-file nav-icon"></i>
        <p>फाइल अपलोड</p>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="far fa-eye nav-icon"></i>
        <p>मासिक रिपोर्ट अपलोड</p>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="far fa-folder  nav-icon"></i>
        <p>अनलाइन आवेदन</p>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="far fa-hourglass nav-icon"></i>
        <p>अन्य विवरणहरू</p>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="far fa-newspaper nav-icon"></i>
        <p>सूचना</p>
    </a>
</li>